<div>
    <h3 ng-model="con.resultCurr"> 1 {{con.baseCode}} = {{con.resultCurr | number: 2 }} {{con.exchangeCode}}</h3>
    <div class="converter">
        
        <div class="converter-header">
            <select ng-model="con.exchangeCode" ng-change="con.convertBaseExchange()">
                <option ng-repeat="item in con.currencies" value="{{item.code}}">{{item.countryName}}</option>
            </select>
        </div>
    
        <div class="converter-content">
            <input class="converter-input" type="text" ng-model="con.baseExchangeValue" ng-change="con.updateInput()">
        </div>
        
    </div>
</div>